<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>注册</title>
</head>
<body>
<form method="post" action="/user/regist">
    <h2 class="form-signin-heading">注册</h2>
    <p>
        <label for="username">用户名</label>
        <input type="text" id="username" name="username" required autofocus>
    </p>
    <p>
        <label for="password">密码</label>
        <input type="password" id="password" name="password" required>
    </p>
    <button type="submit" name="type" value="regist">注册</button>
    <button type="submit" name="type" value="binding">绑定</button>
</form>
</body>
</html>